.maZoneA{
    border: 1px solid;
    background: blue;
     
    /* MARGIN : marges extérieures */
    margin: 10px 9px 8px 7px; /* 10px en haut - 9px à droite - 8px en bas - 7px à gauche */
    margin: 10px 7px; /* 10px en haut et en bas - 7px à gauche et à droite */
    margin: 10px 9px 8px; /* 10px en haut - 9px à droite - 8px en bas. */
    margin: 10px; /* 10px tout autour (haut, droite, bas, gauche). */
     
    /* Cela peut aussi s'écrire de cette manière : */
     
    margin-top: 10px; /* top en haut */
    margin-right: 10px; /* right à droite */
    margin-bottom: 10px; /* bottom en bas */
    margin-left: 10px; /* left à gauche */
     
     
    /* Même chose pour PADDING : marges intérieures */
     
    padding: 10px 9px 8px 7px; /* 10px en haut - 9px à droite - 8px en bas - 7px à gauche */
    padding: 10px 7px; /* 10px en haut et en bas - 7px à gauche et à droite */
    padding: 10px 9px 8px; /* 10px en haut - 9px à droite - 8px en bas. */
    padding: 10px; /* 10px à l'intérieur (haut, droite, bas, gauche). */   
    padding-top: 10px; /* top en haut */
    padding-right: 10px; /* right à droite */
    padding-bottom: 10px; /* bottom en bas */
    padding-left: 10px; /* left à gauche */
    }
     
    .maZoneB{
    border: 1px solid;
    background: red;
    }